.NewDiv{
	height: 200px;
	width: 1000px;
	background-color: #ffff00;
	border: 1px #ff00ff dotted;		
}

.Second{
	height: 60px;
	width: 100px;
	background-color: #ccee00;
	border: 1px #001133 dashed;	
}
